<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Total Expenses:</strong>
    $<%= @total_expenses %>
  </p>
</div>
<p style="color: green"><%= notice %></p>

<!-- Rest of your code -->





